*{
    margin: 0;
    padding: 0;

    font-family: 'Work Sans', sans-serif;
font-family: 'Zilla Slab', serif;
}
 /* header sytle ? */
 header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav > ul{
    display: flex;
 }
 .nav-title{
    
        color:  #131313;
        font-size: 2.5rem;
        font-weight: 700;
     
 }
 nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
   
 }
 nav li a{
    text-decoration: none;
    color:  #424242;
    text-align: center;
 }
 /* bnner style */
 .banner-content{

    max-width: 800px;
    text-align: center;
    margin: 0 auto;
 }
 .banner-title{
    font-size: 4rem;
    color: #131313;
    font-weight: 600;
 }
 .banner-des{
    color: #727272;
 }
 .btn{
    border-radius: 8px;
background: #FF900E;

 }